

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
   <div class="notice"> 
     <%=flash[:notice] %> 
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
  </div>
<% end %> 

<div class="jumbotron">
        <div class="container">
          <h1> Welcome to Eventbrite!</h1>
          <p> Voici notre site d'événements, amusez-vous! </p>
        </div>
      </div>

<p>Pour ajouter un événément, clique ici : <%= link_to "Organiser un événement",new_event_path,:class => "btn-danger btn p-1"%></p>

<div class="row mb-2">
   <% @event_all.each_with_index do |party, i| %>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
                <a class="text-dark"><%= party.title %></a>
              </h3>
              <div class="mb-1 text-muted"> Description : <%= party.description %></div>
              <p class="card-text mb-auto"> Localisation : <%= party.location %></p>
              <a href="events/<%=party.id%>" class="card-link"> Pour en savoir plus...</a>
            </div>
            </div>
            </div>
<% end %>
