


<div class="card-body text-info">
  <div class="card-header">
	<h1> Evénement numéro <%=params[:id]%></h1>
</div>

</br><h3> <%= @event.title %> organisé par <%= @event.administrator.first_name %> </h3></br>

<p> Vous pouvez contacter l'organisateur de l'événement à l'adresse suivante : <%= @event.administrator.email %> </p>

<h3> Description :<%= @event.description %> </h3>

</br><p> Prix : <%= @event.price %> </p></br>

<p> Lieu : <%= @event.location %> </p>

<P> L'événement compte actuellement <%= @event.attendances.count %> participants. </P>

<p> Date de l'événement : le <%= @event.start_date.strftime("%m/%d/%y") %></p>
</div>